target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/load-from-inc.flags
/nbproject/genfiles.properties

### VS Code ###
.vscode/

### Diagram sources (only .jpg allowed) ###
Diagramas/*.drawio
Diagramas/*.drawio.txt
Diagramas/*.txt
*.drawio
*.drawio.txt

### OS Files ###
Thumbs.db
Desktop.ini
.DS_Store

### Temporary and Log files ###
*.log
*.tmp
*.bak
