<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Error - Restaurante El Wey</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css" />
    <link rel="stylesheet" th:href="@{/css/error.css}" href="/css/error.css" />
</head>

<body style="margin: 0; background-color: #121212;">
    <div class="error-container">
        <div class="error-card">
            <h1 class="error-title">Ha ocurrido un error</h1>
            <h2 class="error-msg" th:text="${mensaje}">Mensaje de error predeterminado</h2>
            <a th:href="@{/comidas}" href="/comidas" class="btn-volver-error">Volver al listado</a>
        </div>
    </div>
</body>

</html>
